<mat-sidenav-container>
  <mat-sidenav
  #sidenav
  mode="over"
  >
  <div class="avatar-container">
    <img class="avatar" src="../assets/ty_christmas.jpg">
  </div>
  <mat-nav-list>
    <a mat-list-item>Home</a>
    <a mat-list-item>About</a>
    <a mat-list-item>Experience</a>
    <a mat-list-item>References</a>
    <a mat-list-item>Contact</a>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
